:root{
    --clr-body-bg: #1c1917;
    --clr-display-bg: #6b7280;
    --clr-btn: #52525b; 
    --clr-operator-btn: #d97706;
    --clr-uni-btn: #18181b;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 90%;
    background-color: #FCB31B;
    margin-inline: auto;
}

.wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-body-bg);
    border: 1px solid var(--clr-body-bg);
    border-radius: 15px;
    margin: 5rem auto;
    margin-bottom: 2rem;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

#calc {
    width: 100%;
    padding: 1rem;
    font-size: 1.325rem;
    text-align: right;
    border-radius: 10px;
    color: whitesmoke;
}

.controls {
    width: 90%;
    border: 1px solid var(--clr-display-bg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    align-items: center;
    justify-items: center;
    margin: 1rem;
    padding: 1rem 0.3rem;
}

button {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.325rem;
    background-color: var(--clr-btn);
    border: 1px solid var(--clr-btn);
    border-radius: 50%;
    color: whitesmoke;
}

.operators {
    color: var(--clr-operator-btn);
}

button.unique {
    background-color: var(--clr-operator-btn);
    color: var(--clr-uni-btn);
}

.zero {
    grid-column: 1 / 3;
    border-radius: 2.5rem;
}