:root{
    --clr-body-bg: #155e75;
    --clr-calc-bg: #232221;
    --clr-display-bg: #6b7280;
    --clr-btn: #52525b; 
    --clr-operator-btn: #d97706;
    --clr-uni-btn: #18181b;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 90%;
    width: min(90%, 360px);
    background-color: var(--clr-body-bg);
    margin-inline: auto;
}

.wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-calc-bg);
    border: 1px solid var(--clr-calc-bg);
    border-radius: 15px;
    margin: 5rem auto;
    margin-bottom: 2rem;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 1rem;
    margin-top: 1.5rem;
}

#calc {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: right;
    border-radius: 10px;
    color: #22c55e;
    box-shadow: inset 1px 1px 5px #27272a;
}

::placeholder {
    color: #22c55e;
    opacity: 1;
    font-size: 1.5rem;
}

.controls {
    width: 90%;
    /* border: 1px solid var(--clr-display-bg); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    align-items: center;
    justify-items: center;
    margin: 1rem;
    padding: 1rem 0.3rem;
}

button {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.325rem;
    background-color: var(--clr-btn);
    border: 1px solid var(--clr-btn);
    border-radius: 50%;
    color: whitesmoke;
    box-shadow: inset 1px 1px 5px #27272a, 1px 1px 5px rgba(0,0,0,1);
    transition: all 0.15s ease-in-out;
}

.operators {
    color: var(--clr-operator-btn);
}

.operators:hover{
    background-color: mediumturquoise;
    transform: translateY(-.4rem);
    color: #000;
}

button.unique {
    background-color: var(--clr-operator-btn);
    color: whitesmoke;
    border: 1px solid var(--clr-operator-btn);
}

button.unique:hover {
    background-color: #0891b2;
    border: 1px solid #0891b2;
    color: #000;

}

.clear_all:hover,
.alter-PN:hover {
    background-color: lightcoral;
    color: #000;
    transform: translateY(-.4rem);
}

.numbers:hover {
    background-color: #bdbdbd;
    color: var(--clr-calc-bg);
    transform: translateY(-.4rem);
}

.zero {
    grid-column: 1 / 3;
    border-radius: 2.5rem;
}